html,body {
  background:transparent;
  font-family:'Open Sans','sans-serif' !important;
  letter-spacing:1px;
  font-weight:bold;
  vertical-align:middle;
  font-size: 24px;
  color:#073642;
  text-shadow: 0px 1px 0px #aaa;
  color:#fff;
  /*text-shadow:0 -1px 0 #073642;*/
  height:100%;
  width:100%;
  overflow:visible;;
  overflow-y:scroll;
  overflow-x:hidden;
}
html, nav {
  background-attachment: fixed;
  background-position: left bottom;
  background-color:#5F7C9E;
  background-image:url('sky.jpg');
}
h1,h2,h3,h4,h5,h6 {
  //font-family:'gotham' !important;
  font-weight:bold;
  letter-spacing:1px;
}
.footer {
  text-align:center;
}
nav {
  padding-top:.5em;
  padding-bottom:1em;
  width:100%;
  text-align:center;
  position:fixed;
  bottom:0;
  box-shadow: 0 0 15px rgba(100,100,100,.5);
  -moz-box-shadow: 0 0 15px rgba(100,100,100,.5);
  -webkit-box-shadow: 0 0 15px rgba(100,100,100,.5);
  a {
    color:#fff !important;
    padding-right:1em;
  }
}

//

@media all and (max-height: 900px) {
  .title, .about, .skillz, .wedding {
    padding: 0 0;
  }
}

// animations

.ng-hide {
  display:none!important;
}
.ng-hide-add, .ng-hide-remove {
  display:block!important;
}
.ng-enter{
  transition:0.25s ease all;
  position:fixed;
  z-index:inherit;
  left:-100%;
  height:inherit;
}
.ng-leave{
  transition:0.25s ease all;
  position:fixed;
  z-index:9999;
  right:0;
}
.ng-leave-active{
  transition:0.25s ease all;
  position:fixed;
  right:-100%;
  left:100%;
}
.ng-enter-active{
  transition:0.25s ease all;
  left:0;
  position:relative;
}
